body {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.logo {
    width: 250px;
    height: 63px;
    position: relative;
    top: 4px;
    
}

.pagrindinis-meniu {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    background-color: #f8f8f8;
    height: 75px;
}

.main-flex-container {
    display: flex;
    flex-direction:  row;
    flex-wrap: nowrap;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.main-flex-container > * {
    padding-left: 5px;
    padding-right: 5px;
}


.apie {
    margin-left: auto;
    color: #297DB1;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    height: 75px;
    line-height: 75px;
    text-align: center;
    text-decoration: none;
}

.apie:hover {
    background-color: #eeeeee;
}

.container {
    margin-left: 30px;
    margin-top: 15px;
    margin-right: 30px;
}

.container h1 {
    font-family: 'Tomorrow', sans-serif;
    text-align: center;
}

.container p {
    font-family: 'Roboto', sans-serif;
}

.testas {
    background-color: #fff;
    border-color: #ddd;
    border-width: 1px;
    border-radius: 4px 4px 0 0;
    border-style: solid;
    padding: 20px 15px 15px;
    width: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
}   

.testas span {
    font-family: 'Tomorrow', sans-serif;
}

.testas + .testas {
    margin-top: 30px;
}

.flex-col-container {
    display: flex;
    flex-direction: column;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.rez {
    font-family: 'Roboto', sans-serif;
}

.rez.neutral {
    visibility: hidden;
}

.rez.teisingai {
    color: green;
    visibility: visible;
}

.rez.neteisingai {
    color: red;
    visibility: visible;
}

.uzduotis {
    background-color: #fff;
    border-color: #ddd;
    border-width: 1px;
    border-radius: 4px 4px 0 0;
    border-style: solid;
    padding: 20px 15px 15px;
}

.uzduotis > img {
    max-width: 570px;
}

.uzduotis + .uzduotis {
    margin-top: 13px;
}

.uzdaviniai {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.testai {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.kategorijos {
    display: flex;
    flex-direction: row;
    height: min-content;
    align-items: center;
    flex-basis: 0;
    flex-grow: 1;
}

.kategoriju-sarasas {
    width: inherit;
}

.kategoriju-sarasas > li > a {
    font-family: 'Tomorrow', sans-serif;
    font-size: 16px;
    text-decoration-style: double;
    text-decoration: underline;
    text-decoration-color: grey;
    color: black;
}

.kategoriju-sarasas > li.active > a {
    color: #369;
    text-transform: uppercase;
}

.tvirtinti-myg {
    border: none;
    background-color: #369;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    color: whitesmoke;
    padding: 3px;
    outline: none;
    font-family: 'Tomorrow', sans-serif;
    font-size: 14px;
    outline: none;
}
.tvirtinti-myg:hover {
    background-color: rgb(89, 143, 197);
}

.kategoriju-sarasas > li.spec > a {
    color: red;
}

.placiau {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fff;
    border-color: #ddd;
    border-width: 1px;
    border-radius: 4px 4px 0 0;
    border-style: solid;
    padding: 15px 5px 15px;
}

.placiau > a {
    font-family: 'Tomorrow', sans-serif;
    padding: 3px;
    margin: 3px;
    text-decoration: none;
    color: black;
    outline: none;
}

.pdf-myg {
    background-color: rgb(131, 43, 43);
    font-family: 'Tomorrow', sans-serif;
    color: whitesmoke;
    padding: 5px;
    border-radius: 3px;
}

.pdf-myg::after {
    content: ' ↓';
}

.yt-myg {
    background-color: rgb(131, 43, 43);
    font-family: 'Tomorrow', sans-serif;
    color: whitesmoke;
    padding: 5px;
    border-radius: 3px;
}

.pdf-myg-txt {
    margin-left: 5px;
}

.yt-myg-txt {
    margin-left: 5px;
}

.yt-myg::after {
    content: ' ▶';
}

.aprasas {
    line-height: 42px;
}

.aprasas h2 {
    font-family: 'Tomorrow', sans-serif;
    display: inline;
    font-size: 16px;   
}

.aprasas img {
    display: block;
}

.aprasas > div.flex-container > div {
    padding: 3px;
    margin: 3px;
}